[submodule "assets/knowledge"]
	path = assets/knowledge
	url = https://github.com/tao3k/omni-knowledge.git
[submodule "packages/ncl"]
	path = packages/ncl
	url = https://github.com/tao3k/omnibus-ncl.git
[submodule "packages/rust/crates/xiuxian-ast/tree-sitter-modelica"]
	path = packages/rust/crates/xiuxian-ast/tree-sitter-modelica
	url = https://github.com/OpenModelica/tree-sitter-modelica.git
[submodule "qianji-flowhub"]
	path = qianji-flowhub
	url = https://github.com/tao3k/qianji-flowhub.git
[submodule "wendao-episteme"]
	path = wendao-episteme
	url = https://github.com/tao3k/wendao-episteme.git
